
.blue {
    color: blue;
}
.red {
    color: red;
}
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.cyan {
    color:cyan;
}
hr {
    width : 70%;
    margin : auto;
}

ul {
    list-style-type: none;
}
