{% extends "layout.html" %}

{% block title %}
    Folders
{% endblock %}

{% block header %}
    <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold text-center">
        Folders
    </h2>
    <p>&nbsp;</p>
    <hr style="margin: auto; width: 80%;">
    <p>&nbsp;</p>
{% endblock %}

{% block main %}
    <form action="/folders" method="post" style="width: 70%; margin : auto;" class="row">
        <input name="folder_name" type="text" style="border-radius: 10px;" class="form-control form-control-lg" placeholder="Add new folder...">
        <button type="submit" class="bg-light" style="border-radius: 10px;">Add</button>
    </form>
    <p>&nbsp;</p>
    <hr>
    <p>&nbsp;</p>
    <div id="accordion" class="" style="width: 60%; text-align: center; margin: auto;">
    {% for folder in folders %}
        <h3 class="text-info" style="font-family: 'Times New Roman', Times, serif; font-size: 20px; float:left; border-radius: 20px; border-style:solid; width: 100%; border-color: rgb(189, 189, 189);">
            {{ folder[2] }}
        </h3>
        <div>           
            {% for note in notes %}
            <!-- looping through dict-->
                {% if folder[0] == note %}
                <!-- if key is equal to folder id, loop through list-->
                    {% for i in notes[note] %}
                        <h3>
                            {{ i[3] }}
                        </h3>
                        <p style="text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 20px;">
                            {{ i[2] }}
                        </p>
                    {% endfor %}

                {% endif %}

            {% endfor %}
           
            {% for video_note in video_notes %}
                {% if folder[0] == video_note %}
                    {% for i in video_notes[video_note] %}
                    <a href="{{ i[2][1] }}">
                        <img style="border-radius: 10px;" src={{ i[2][0] }}>
                    </a>
                    <p>&nbsp</p>
                    <!--pure html, so have to format it with |safe-->
                    {% if i[6] %}
                        {{ i[6]|safe }}
                    {% endif %}
        
                    {% if i[7] %}
                        {% for j in i[7] %}
                            <p style="text-align: justify; font-family: 'Times New Roman', Times, serif; font-size: 20px;">
                                <span class="blue"><u>{{ j }}</u></span> : {{ i[7][j] }}
                            </p>
                            <p>&nbsp</p>
                        {% endfor %}
                    {% endif %}

                    {% endfor %}
                {% endif %}
            {% endfor %}
            
        </div>
    {% endfor %}
    </div>
{% endblock %}