{% extends "layout.html" %}

{% block title %}
    Task List
{% endblock %}

{% block header %}
    <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold text-center">
Task List
    </h2>
    <hr style="margin: auto; width : 80%;">

{% endblock %}

{% block main %}
    <p>&nbsp;</p>
    <form action="/task_list" method="post" style="width: 70%; margin : auto;" class="row">
        <input name="task" type="text" style="border-radius: 10px;" class="form-control form-control-lg" placeholder="Add new task...">
        <button type="submit" name="submit_task" class="bg-light" style="border-radius: 10px;">Add</button>
    </form>
    <p>&nbsp;</p>
    <hr style="margin: auto; width : 80%;">
    <div style="width: 40%; margin:auto;">
        <ul style="list-style-type: none; margin: auto;">
            {% for task in tasks %}
            <!--checking if task not done, as in done property equal 0, not 1-->
            {% if task[4]==0 %}
                <li class="d-inline-flex p-2">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p style="font-size: 24px;">{{ task[3] }}</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <form action="/task_list" method="post">
                        <button type="submit" value={{ task[0] }} name="delete" class="btn btn-outline-white bg-white">
                            <img src="/static/button.png" height="14px">
                        </button>
                    </form>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}