{% extends "layout.html" %}

{% block title %}
    Video Notes
{% endblock %}

{% block header %}
    <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold text-center">
        Video Notes
    </h2>
    <p>&nbsp;</p>
    <hr width="70%" style="margin: auto;">
    <p>&nbsp;</p>
{% endblock %}


{% block main %}
    <div style="width: 60%; margin: auto;" id="accordion">
    {% for note in notes %}
        <h3 class="flex-row" style="font-family: 'Times New Roman', Times, serif; font-size: 20px; border-radius: 10px; border-style:solid; border-color: rgb(189, 189, 189);">
            <p>{{ note[3] }}</p>
        </h3>
        <div id="note" style="border-radius: 20px; width: 600px; margin: auto;" class="card">
            <form action="/video_notes" method="post" >
                <select name="folder">
                    {% for folder in folders %}
                        <option value="{{ folder[0] }}, {{ note[0] }}">{{ folder[2] }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="bg-light" style="border-radius: 10px;">Add to Folder</button>
            </form>
            
            <a href="{{ note[2][1] }}">
                <img style="border-radius: 10px;" src={{ note[2][0] }}>
            </a>
            <p>&nbsp</p>
            <!--pure html, so have to format it with |safe-->
            {% if note[6] %}
                {{ note[6]|safe }}
            {% endif %}

            {% if note[7] %}
                {% for i in note[7] %}
                    <p style="text-align: justify; font-family: 'Times New Roman', Times, serif; font-size: 20px;">
                        <span class="blue"><u>{{ i }}</u></span> : {{ note[7][i] }}
                    </p>
                    <p>&nbsp</p>
                {% endfor %}
            {% endif %}

        </div>
    {% endfor %}
    </div>

{% endblock %}